/*main big box*/
/*css base file from prof. lecture 33 part 2*/
body {
  font-size: 16px;
  color: #fff;
  background-color:white;
  font-family: 'Oxygen', sans-serif;
}

/** header part  **/
#header-nav {
  background-color: grey;
  border-radius: 0;
  border: 0;
  border-top: black solid 3px;
    border-bottom: black solid 3px;
}

.navbar-brand {
  padding-top: 25px;

}

.navbar-brand h1 { 
  font-family: 'Lora', serif;
  color: black;
  font-size: 1.5em;
  text-transform: capitalize;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
.navbar-brand p {
  color: #000;
  text-transform: uppercase;
  font-size: .7em;
  margin-top: 15px;
}
.navbar-brand p span {
  vertical-align: middle;
}




.food {
    background-color: grey;
    margin: 20px 50px;
    padding: 1px;
  }

.food p {
color:black ;
    margin: 15px;
}


#nav-list {
  margin-top: 0px;
 background-color: white;
}
#nav-list > li {
    border-top: black solid 1px;
    border-bottom: black  solid 1px;
}
#nav-list a {
  color: darkorange;
  text-align: center;

}
#nav-list a:hover {
  background: grey;

}
#nav-list a span {
  font-size: 1.8em;
}


.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid black;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;

}
h2{
 color: black;
 }

#heading {
  font-size: 40px;
    color: black;
    font-weight:bold ;
}

